n8n-workflow-liberacao-manual.json
{
  "name": "Liberação Manual - Trial/Assinatura/Vitalício",
  "nodes": [
    {
      "parameters": {},
      "id": "manual-trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1408,
        464
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "email",
              "name": "email",
              "value": "={{ $json.email }}",
              "type": "string"
            },
            {
              "id": "app_id",
              "name": "app_id",
              "value": "={{ $json.app_id }}",
              "type": "string"
            },
            {
              "id": "tipo",
              "name": "tipo",
              "value": "={{ $json.tipo }}",
              "type": "string"
            },
            {
              "id": "dias",
              "name": "dias",
              "value": "={{ $json.dias }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "coletar-dados",
      "name": "Coletar Dados",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        -1200,
        464
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://wwwwyuwighdehmvnolrl.supabase.co/rest/v1/profiles?email=eq.{{ $json.email }}&select=id,email,full_name",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Ind3d3d5dXdpZ2hkZWhtdm5vbHJsIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2MzM0MjcwOCwiZXhwIjoyMDc4NzAyNzA4fQ.TwCzu93jnFLN-t26xHOQp4cEdCnzRtqtrc0Lzm4mZxs"
            },
            {
              "name": "Authorization",
              "value": "=Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Ind3d3d5dXdpZ2hkZWhtdm5vbHJsIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2MzM0MjcwOCwiZXhwIjoyMDc4NzAyNzA4fQ.TwCzu93jnFLN-t26xHOQp4cEdCnzRtqtrc0Lzm4mZxs"
            }
          ]
        },
        "options": {}
      },
      "id": "buscar-usuario",
      "name": "Buscar Usuário",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -992,
        464
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Mesclar dados do usuário com dados anteriores\nconst usuario = Array.isArray($input.item.json) ? $input.item.json[0] : $input.item.json;\nconst dadosAnteriores = $('Coletar Dados').item.json;\n\nreturn {\n  json: {\n    ...dadosAnteriores,\n    user_id: usuario.id,\n    user_email: usuario.email,\n    user_name: usuario.full_name\n  }\n};"
      },
      "id": "mesclar-usuario",
      "name": "Mesclar Usuário",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -784,
        464
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://wwwwyuwighdehmvnolrl.supabase.co/rest/v1/registered_apps?or=(id.eq.{{ $json.app_id }},name.ilike.*{{ $json.app_id }}*)&select=id,name,is_active,trial_period_days&limit=1",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Ind3d3d5dXdpZ2hkZWhtdm5vbHJsIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2MzM0MjcwOCwiZXhwIjoyMDc4NzAyNzA4fQ.TwCzu93jnFLN-t26xHOQp4cEdCnzRtqtrc0Lzm4mZxs"
            },
            {
              "name": "Authorization",
              "value": "=Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Ind3d3d5dXdpZ2hkZWhtdm5vbHJsIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2MzM0MjcwOCwiZXhwIjoyMDc4NzAyNzA4fQ.TwCzu93jnFLN-t26xHOQp4cEdCnzRtqtrc0Lzm4mZxs"
            }
          ]
        },
        "options": {}
      },
      "id": "buscar-app",
      "name": "Buscar App",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -576,
        464
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Mesclar dados do app com dados anteriores\nconst app = Array.isArray($input.item.json) ? $input.item.json[0] : $input.item.json;\nconst dadosAnteriores = $('Mesclar Usuário').item.json;\n\nreturn {\n  json: {\n    ...dadosAnteriores,\n    app_id: app.id,\n    app_name: app.name,\n    app_is_active: app.is_active,\n    app_trial_period_days: app.trial_period_days\n  }\n};"
      },
      "id": "mesclar-app",
      "name": "Mesclar App",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -368,
        464
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-tipo-trial",
              "leftValue": "={{ $json.tipo }}",
              "rightValue": "TRIAL",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "verificar-tipo",
      "name": "Verificar Tipo",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -160,
        464
      ]
    },
    {
      "parameters": {
        "jsCode": "// Calcular data de expiração do trial\nconst dados = $input.item.json;\nconst agora = new Date();\nconst diasTrial = dados.dias || dados.app_trial_period_days || 7;\nconst expiresAt = new Date();\nexpiresAt.setDate(expiresAt.getDate() + diasTrial);\n\nreturn {\n  json: {\n    user_id: dados.user_id,\n    app_id: dados.app_id,\n    started_at: agora.toISOString(),\n    expires_at: expiresAt.toISOString(),\n    is_active: true\n  }\n};"
      },
      "id": "preparar-trial",
      "name": "Preparar Trial",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        48,
        352
      ]
    },
    {
      "parameters": {
        "jsCode": "// Calcular data de expiração da compra\nconst dados = $input.item.json;\nconst tipo = dados.tipo.toUpperCase();\nconst agora = new Date();\nlet expiresAt;\n\nif (tipo === 'LIFETIME') {\n  expiresAt = '2099-01-01T00:00:00.000Z';\n} else {\n  expiresAt = new Date();\n  if (dados.dias) {\n    expiresAt.setDate(expiresAt.getDate() + dados.dias);\n  } else if (tipo === 'MONTHLY') {\n    expiresAt.setMonth(expiresAt.getMonth() + 1);\n  } else if (tipo === 'ANNUAL') {\n    expiresAt.setFullYear(expiresAt.getFullYear() + 1);\n  }\n  expiresAt = expiresAt.toISOString();\n}\n\nreturn {\n  json: {\n    user_id: dados.user_id,\n    app_id: dados.app_id,\n    purchase_type: tipo,\n    status: 'APPROVED',\n    expires_at: expiresAt,\n    created_at: agora.toISOString()\n  }\n};"
      },
      "id": "preparar-compra",
      "name": "Preparar Compra",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        48,
        560
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://wwwwyuwighdehmvnolrl.supabase.co/rest/v1/user_trials",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Ind3d3d5dXdpZ2hkZWhtdm5vbHJsIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2MzM0MjcwOCwiZXhwIjoyMDc4NzAyNzA4fQ.TwCzu93jnFLN-t26xHOQp4cEdCnzRtqtrc0Lzm4mZxs"
            },
            {
              "name": "Authorization",
              "value": "=Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Ind3d3d5dXdpZ2hkZWhtdm5vbHJsIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2MzM0MjcwOCwiZXhwIjoyMDc4NzAyNzA4fQ.TwCzu93jnFLN-t26xHOQp4cEdCnzRtqtrc0Lzm4mZxs"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": []
        },
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "criar-trial",
      "name": "Criar Trial",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        256,
        352
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://wwwwyuwighdehmvnolrl.supabase.co/rest/v1/user_purchases",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Ind3d3d5dXdpZ2hkZWhtdm5vbHJsIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2MzM0MjcwOCwiZXhwIjoyMDc4NzAyNzA4fQ.TwCzu93jnFLN-t26xHOQp4cEdCnzRtqtrc0Lzm4mZxs"
            },
            {
              "name": "Authorization",
              "value": "=Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Ind3d3d5dXdpZ2hkZWhtdm5vbHJsIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2MzM0MjcwOCwiZXhwIjoyMDc4NzAyNzA4fQ.TwCzu93jnFLN-t26xHOQp4cEdCnzRtqtrc0Lzm4mZxs"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": []
        },
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "criar-compra",
      "name": "Criar Compra",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        256,
        560
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "sucesso",
              "name": "status",
              "value": "=✅ Liberação criada com sucesso!",
              "type": "string"
            },
            {
              "id": "detalhes",
              "name": "detalhes",
              "value": "={{ JSON.stringify($json) }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "sucesso",
      "name": "Sucesso",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        464,
        464
      ]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Coletar Dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Coletar Dados": {
      "main": [
        [
          {
            "node": "Buscar Usuário",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Usuário": {
      "main": [
        [
          {
            "node": "Mesclar Usuário",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mesclar Usuário": {
      "main": [
        [
          {
            "node": "Buscar App",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar App": {
      "main": [
        [
          {
            "node": "Mesclar App",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mesclar App": {
      "main": [
        [
          {
            "node": "Verificar Tipo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificar Tipo": {
      "main": [
        [
          {
            "node": "Preparar Trial",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Preparar Compra",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Trial": {
      "main": [
        [
          {
            "node": "Criar Trial",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Compra": {
      "main": [
        [
          {
            "node": "Criar Compra",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Criar Trial": {
      "main": [
        [
          {
            "node": "Sucesso",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Criar Compra": {
      "main": [
        [
          {
            "node": "Sucesso",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-01-11T00:00:00.000Z",
  "versionId": "1"
}
