n8n-workflow-liberacao-simples.json
{
  "name": "Liberação Automática - Simples",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 1
            }
          ]
        }
      },
      "id": "cron-trigger",
      "name": "Cron - A cada hora",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "url": "=https://{{ $env.SUPABASE_URL }}/rest/v1/rpc/update_all_users_liberado_status",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": []
        },
        "options": {}
      },
      "id": "atualizar-todos",
      "name": "Atualizar Todos Usuários",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        460,
        300
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-status-code",
              "leftValue": "={{ $json.statusCode }}",
              "rightValue": 200,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "verificar-sucesso",
      "name": "Verificar Sucesso",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "sucesso",
              "name": "status",
              "value": "=✅ Atualização concluída com sucesso!",
              "type": "string"
            },
            {
              "id": "timestamp",
              "name": "timestamp",
              "value": "={{ $now }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "sucesso-node",
      "name": "Sucesso",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        900,
        200
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "erro",
              "name": "status",
              "value": "=❌ Erro na atualização",
              "type": "string"
            },
            {
              "id": "erro-detalhes",
              "name": "erro",
              "value": "={{ $json.error }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "erro-node",
      "name": "Erro",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        900,
        400
      ]
    }
  ],
  "connections": {
    "Cron - A cada hora": {
      "main": [
        [
          {
            "node": "Atualizar Todos Usuários",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atualizar Todos Usuários": {
      "main": [
        [
          {
            "node": "Verificar Sucesso",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificar Sucesso": {
      "main": [
        [
          {
            "node": "Sucesso",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Erro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-01-11T00:00:00.000Z",
  "versionId": "1"
}
