n8n-workflow-sync-hourly.json
{
  "name": "Sync Horário - Backup Automático",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 1
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "A Cada Hora",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://lwdigitalforge-texte.onrender.com/sync/full",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer b835e3f27925c1db60f2f25d163d9d92"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "id": "http-sync-hourly",
      "name": "Sync Full Hourly",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        450,
        300
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-success",
              "leftValue": "={{ $json.success }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-hourly-result",
      "name": "Verificar Resultado",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        650,
        300
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "log-success",
      "name": "Log Sucesso",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        850,
        200
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "log-error",
      "name": "Log Erro",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        850,
        400
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://lwdigitalforge-texte.onrender.com/health",
        "options": {}
      },
      "id": "keep-alive",
      "name": "Keep Alive (Render Free Tier)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        450,
        450
      ]
    }
  ],
  "connections": {
    "A Cada Hora": {
      "main": [
        [
          {
            "node": "Sync Full Hourly",
            "type": "main",
            "index": 0
          },
          {
            "node": "Keep Alive (Render Free Tier)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sync Full Hourly": {
      "main": [
        [
          {
            "node": "Verificar Resultado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificar Resultado": {
      "main": [
        [
          {
            "node": "Log Sucesso",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Erro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "webhook-sync-hourly-backup"
  }
}
