n8n-workflow-liberacao-verificar-erro.json
{
  "name": "Liberação Automática - Verificar Erro",
  "nodes": [
    {
      "parameters": {},
      "id": "cfb4e6a3-3cee-426e-a972-d45c23995cd1",
      "name": "Cron - A cada hora",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        -1360,
        464
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://wwwwyuwighdehmvnolrl.supabase.co/rest/v1/rpc/update_all_users_liberado_status",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Ind3d3d5dXdpZ2hkZWhtdm5vbHJsIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2MzM0MjcwOCwiZXhwIjoyMDc4NzAyNzA4fQ.TwCzu93jnFLN-t26xHOQp4cEdCnzRtqtrc0Lzm4mZxs"
            },
            {
              "name": "Authorization",
              "value": "=Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Ind3d3d5dXdpZ2hkZWhtdm5vbHJsIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2MzM0MjcwOCwiZXhwIjoyMDc4NzAyNzA4fQ.TwCzu93jnFLN-t26xHOQp4cEdCnzRtqtrc0Lzm4mZxs"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": []
        },
        "options": {}
      },
      "id": "294ad628-38aa-4d01-bfe0-c83d74491318",
      "name": "Atualizar Todos Usuários",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -1152,
        464
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-no-error",
              "leftValue": "={{ $json.error }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "isEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "2b807e9d-6f19-4639-951e-ba80136477a5",
      "name": "Verificar Sucesso",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -928,
        464
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "sucesso",
              "name": "status",
              "value": "=✅ Atualização concluída com sucesso!",
              "type": "string"
            },
            {
              "id": "timestamp",
              "name": "timestamp",
              "value": "={{ $now }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "99f5458c-b0ac-41fd-9891-b07fab6a6276",
      "name": "Sucesso",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        -704,
        352
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "erro",
              "name": "status",
              "value": "=❌ Erro na atualização",
              "type": "string"
            },
            {
              "id": "erro-detalhes",
              "name": "detalhes",
              "value": "={{ $json.error || 'Erro desconhecido' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "cd914a48-979c-4c4f-be97-16e9e03b731b",
      "name": "Erro",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        -704,
        560
      ]
    }
  ],
  "connections": {
    "Cron - A cada hora": {
      "main": [
        [
          {
            "node": "Atualizar Todos Usuários",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atualizar Todos Usuários": {
      "main": [
        [
          {
            "node": "Verificar Sucesso",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificar Sucesso": {
      "main": [
        [
          {
            "node": "Sucesso",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Erro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-01-11T00:00:00.000Z",
  "versionId": "1"
}
