n8n-workflow-liberacao.json
{
  "name": "Liberação Automática de Usuários",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 1
            }
          ]
        }
      },
      "id": "cron-trigger",
      "name": "Cron Trigger",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id FROM profiles ORDER BY created_at DESC"
      },
      "id": "supabase-query-users",
      "name": "Buscar Usuários",
      "type": "@n8n/n8n-nodes-langchain.supabase",
      "typeVersion": 1,
      "position": [460, 300],
      "credentials": {
        "supabaseApi": {
          "id": "1",
          "name": "Supabase API"
        }
      }
    },
    {
      "parameters": {
        "batchSize": 10
      },
      "id": "split-batches",
      "name": "Dividir em Lotes",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 1,
      "position": [680, 300]
    },
    {
      "parameters": {
        "jsCode": "// Loop sobre cada usuário no lote\nconst items = $input.all();\nreturn items.map(item => ({\n  json: {\n    user_id: item.json.id\n  }\n}));"
      },
      "id": "loop-items",
      "name": "Loop Usuários",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "operation": "executeFunction",
        "functionName": "update_user_liberado_status",
        "arguments": "={{{\n  \"p_user_id\": $json.user_id\n}}}"
      },
      "id": "update-status",
      "name": "Atualizar Status",
      "type": "@n8n/n8n-nodes-langchain.supabase",
      "typeVersion": 1,
      "position": [1120, 300],
      "credentials": {
        "supabaseApi": {
          "id": "1",
          "name": "Supabase API"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "error-condition",
              "leftValue": "={{ $json.error }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-error",
      "name": "Verificar Erro",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1340, 300]
    },
    {
      "parameters": {
        "resource": "database",
        "operation": "executeQuery",
        "query": "=SELECT \n  COUNT(*) FILTER (WHERE is_liberado = true) as liberados,\n  COUNT(*) FILTER (WHERE is_liberado = false) as nao_liberados\nFROM profiles"
      },
      "id": "summary-report",
      "name": "Relatório Final",
      "type": "@n8n/n8n-nodes-langchain.supabase",
      "typeVersion": 1,
      "position": [1560, 200],
      "credentials": {
        "supabaseApi": {
          "id": "1",
          "name": "Supabase API"
        }
      }
    }
  ],
  "connections": {
    "Cron Trigger": {
      "main": [[
        {
          "node": "Buscar Usuários",
          "type": "main",
          "index": 0
        }
      ]]
    },
    "Buscar Usuários": {
      "main": [[
        {
          "node": "Dividir em Lotes",
          "type": "main",
          "index": 0
        }
      ]]
    },
    "Dividir em Lotes": {
      "main": [[
        {
          "node": "Loop Usuários",
          "type": "main",
          "index": 0
        }
      ]]
    },
    "Loop Usuários": {
      "main": [[
        {
          "node": "Atualizar Status",
          "type": "main",
          "index": 0
        }
      ]]
    },
    "Atualizar Status": {
      "main": [[
        {
          "node": "Verificar Erro",
          "type": "main",
          "index": 0
        }
      ]]
    },
    "Verificar Erro": {
      "main": [[
        {
          "node": "Relatório Final",
          "type": "main",
          "index": 0
        }
      ]]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-01-11T00:00:00.000Z",
  "versionId": "1"
}
