n8n-workflow-liberacao-manual-validado.json
{
  "name": "Liberação Manual - Validado (Trial/Assinatura/Vitalício)",
  "nodes": [
    {
      "parameters": {},
      "id": "85f8d496-5915-45df-b06f-e4c9ba3e7353",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        64,
        624
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "email",
              "name": "email",
              "value": "={{ $json.email }}",
              "type": "string"
            },
            {
              "id": "app_id",
              "name": "app_id",
              "value": "={{ $json.app_id }}",
              "type": "string"
            },
            {
              "id": "tipo",
              "name": "tipo",
              "value": "={{ $json.tipo }}",
              "type": "string"
            },
            {
              "id": "dias",
              "name": "dias",
              "value": "={{ $json.dias }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "eb2c649e-734d-4c6e-b2cf-975bf9af49cc",
      "name": "Coletar Dados",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        256,
        624
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://wwwwyuwighdehmvnolrl.supabase.co/rest/v1/profiles?email=eq.{{ $json.email }}&select=id,email,full_name,is_liberado,data_vencimento",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Ind3d3d5dXdpZ2hkZWhtdm5vbHJsIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2MzM0MjcwOCwiZXhwIjoyMDc4NzAyNzA4fQ.TwCzu93jnFLN-t26xHOQp4cEdCnzRtqtrc0Lzm4mZxs"
            },
            {
              "name": "Authorization",
              "value": "=Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Ind3d3d5dXdpZ2hkZWhtdm5vbHJsIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2MzM0MjcwOCwiZXhwIjoyMDc4NzAyNzA4fQ.TwCzu93jnFLN-t26xHOQp4cEdCnzRtqtrc0Lzm4mZxs"
            }
          ]
        },
        "options": {}
      },
      "id": "d5765ee9-5e77-4e43-906c-7732c4e00e61",
      "name": "Buscar Usuário",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        464,
        624
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Mesclar dados do usuário com dados anteriores\nconst usuario = Array.isArray($input.item.json) ? $input.item.json[0] : $input.item.json;\nconst dadosAnteriores = $('Coletar Dados').item.json;\n\nif (!usuario || !usuario.id) {\n  throw new Error('Usuário não encontrado!');\n}\n\nreturn {\n  json: {\n    ...dadosAnteriores,\n    user_id: usuario.id,\n    user_email: usuario.email,\n    user_name: usuario.full_name,\n    user_is_liberado: usuario.is_liberado,\n    user_data_vencimento: usuario.data_vencimento\n  }\n};"
      },
      "id": "88e5c576-98ba-4670-9a7e-de02c2fbae79",
      "name": "Mesclar Usuário",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        624
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://wwwwyuwighdehmvnolrl.supabase.co/rest/v1/registered_apps?or=(id.eq.{{ $json.app_id }},name.ilike.*{{ $json.app_id }}*)&select=id,name,is_active,trial_period_days&limit=1",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Ind3d3d5dXdpZ2hkZWhtdm5vbHJsIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2MzM0MjcwOCwiZXhwIjoyMDc4NzAyNzA4fQ.TwCzu93jnFLN-t26xHOQp4cEdCnzRtqtrc0Lzm4mZxs"
            },
            {
              "name": "Authorization",
              "value": "=Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Ind3d3d5dXdpZ2hkZWhtdm5vbHJsIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2MzM0MjcwOCwiZXhwIjoyMDc4NzAyNzA4fQ.TwCzu93jnFLN-t26xHOQp4cEdCnzRtqtrc0Lzm4mZxs"
            }
          ]
        },
        "options": {}
      },
      "id": "c322b53d-70ce-4f67-bafa-d151758c09c2",
      "name": "Buscar App",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        880,
        624
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Mesclar dados do app e validar\nconst app = Array.isArray($input.item.json) ? $input.item.json[0] : $input.item.json;\nconst dadosAnteriores = $('Mesclar Usuário').item.json;\n\nif (!app || !app.id) {\n  throw new Error('App não encontrado!');\n}\n\nif (!app.is_active) {\n  throw new Error(`App ${app.name} não está ativo!`);\n}\n\nreturn {\n  json: {\n    ...dadosAnteriores,\n    app_id: app.id,\n    app_name: app.name,\n    app_is_active: app.is_active,\n    app_trial_period_days: app.trial_period_days\n  }\n};"
      },
      "id": "7f23455f-b0de-4522-a6bb-2ec5f9ed01fe",
      "name": "Mesclar App e Validar",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1088,
        624
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-tipo-trial",
              "leftValue": "={{ $json.tipo }}",
              "rightValue": "TRIAL",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "9e59bc9c-61bc-409c-8a27-d383e8429e0c",
      "name": "Verificar Tipo",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1296,
        624
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://wwwwyuwighdehmvnolrl.supabase.co/rest/v1/user_trials?user_id=eq.{{ $json.user_id }}&app_id=eq.{{ $json.app_id }}&is_active=eq.true&expires_at=gt.{{ $now }}&select=id,expires_at&limit=1",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Ind3d3d5dXdpZ2hkZWhtdm5vbHJsIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2MzM0MjcwOCwiZXhwIjoyMDc4NzAyNzA4fQ.TwCzu93jnFLN-t26xHOQp4cEdCnzRtqtrc0Lzm4mZxs"
            },
            {
              "name": "Authorization",
              "value": "=Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Ind3d3d5dXdpZ2hkZWhtdm5vbHJsIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2MzM0MjcwOCwiZXhwIjoyMDc4NzAyNzA4fQ.TwCzu93jnFLN-t26xHOQp4cEdCnzRtqtrc0Lzm4mZxs"
            }
          ]
        },
        "options": {}
      },
      "id": "5f7a6a9e-1749-4ca5-8a90-98bb30b1cfe9",
      "name": "Verificar Trial Existente",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1504,
        512
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://wwwwyuwighdehmvnolrl.supabase.co/rest/v1/user_purchases?user_id=eq.{{ $json.user_id }}&app_id=eq.{{ $json.app_id }}&status=eq.APPROVED&select=id,purchase_type,expires_at&limit=1",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Ind3d3d5dXdpZ2hkZWhtdm5vbHJsIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2MzM0MjcwOCwiZXhwIjoyMDc4NzAyNzA4fQ.TwCzu93jnFLN-t26xHOQp4cEdCnzRtqtrc0Lzm4mZxs"
            },
            {
              "name": "Authorization",
              "value": "=Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Ind3d3d5dXdpZ2hkZWhtdm5vbHJsIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2MzM0MjcwOCwiZXhwIjoyMDc4NzAyNzA4fQ.TwCzu93jnFLN-t26xHOQp4cEdCnzRtqtrc0Lzm4mZxs"
            }
          ]
        },
        "options": {}
      },
      "id": "70f8545b-5ab4-4f24-a959-bede1dfec756",
      "name": "Verificar Compra Existente",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1504,
        720
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Verificar se já existe trial ativo\nconst trialExistente = Array.isArray($input.item.json) ? $input.item.json[0] : $input.item.json;\nconst dados = $('Mesclar App e Validar').item.json;\n\nif (trialExistente && trialExistente.id) {\n  const expiresAt = new Date(trialExistente.expires_at);\n  return {\n    json: {\n      ...dados,\n      trial_existente: true,\n      trial_id: trialExistente.id,\n      trial_expires_at: trialExistente.expires_at,\n      aviso: `Usuário já possui trial ativo que expira em ${expiresAt.toLocaleString('pt-BR')}`\n    }\n  };\n}\n\nreturn {\n  json: {\n    ...dados,\n    trial_existente: false\n  }\n};"
      },
      "id": "22588243-6d16-4863-8711-86b37f89d81f",
      "name": "Validar Trial",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1712,
        512
      ]
    },
    {
      "parameters": {
        "jsCode": "// Verificar se já existe compra ativa\nconst compraExistente = Array.isArray($input.item.json) ? $input.item.json[0] : $input.item.json;\nconst dados = $('Mesclar App e Validar').item.json;\n\nif (compraExistente && compraExistente.id) {\n  const expiresAt = compraExistente.expires_at ? new Date(compraExistente.expires_at) : null;\n  return {\n    json: {\n      ...dados,\n      compra_existente: true,\n      compra_id: compraExistente.id,\n      compra_type: compraExistente.purchase_type,\n      compra_expires_at: compraExistente.expires_at,\n      aviso: compraExistente.purchase_type === 'LIFETIME' \n        ? 'Usuário já possui compra vitalícia!' \n        : `Usuário já possui ${compraExistente.purchase_type} ativa${expiresAt ? ' que expira em ' + expiresAt.toLocaleString('pt-BR') : ''}`\n    }\n  };\n}\n\nreturn {\n  json: {\n    ...dados,\n    compra_existente: false\n  }\n};"
      },
      "id": "1923dddb-bed1-492d-bf14-6ae2c04142ac",
      "name": "Validar Compra",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1712,
        720
      ]
    },
    {
      "parameters": {
        "jsCode": "// Calcular data de expiração do trial\nconst dados = $input.item.json;\nconst agora = new Date();\nconst diasTrial = dados.dias || dados.app_trial_period_days || 7;\nconst expiresAt = new Date();\nexpiresAt.setDate(expiresAt.getDate() + diasTrial);\n\nreturn {\n  json: {\n    user_id: dados.user_id,\n    app_id: dados.app_id,\n    started_at: agora.toISOString(),\n    expires_at: expiresAt.toISOString(),\n    is_active: true\n  }\n};"
      },
      "id": "9ad5d31f-d464-42d7-9de3-d9abe020c434",
      "name": "Preparar Trial",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1920,
        512
      ]
    },
    {
      "parameters": {
        "jsCode": "// Calcular data de expiração da compra\nconst dados = $input.item.json;\nconst tipo = dados.tipo.toUpperCase();\nconst agora = new Date();\nlet expiresAt;\n\nif (tipo === 'LIFETIME') {\n  expiresAt = '2099-01-01T00:00:00.000Z';\n} else {\n  expiresAt = new Date();\n  if (dados.dias) {\n    expiresAt.setDate(expiresAt.getDate() + dados.dias);\n  } else if (tipo === 'MONTHLY') {\n    expiresAt.setMonth(expiresAt.getMonth() + 1);\n  } else if (tipo === 'ANNUAL') {\n    expiresAt.setFullYear(expiresAt.getFullYear() + 1);\n  }\n  expiresAt = expiresAt.toISOString();\n}\n\nreturn {\n  json: {\n    user_id: dados.user_id,\n    app_id: dados.app_id,\n    purchase_type: tipo,\n    status: 'APPROVED',\n    expires_at: expiresAt,\n    created_at: agora.toISOString()\n  }\n};"
      },
      "id": "ca4da1b4-d7ec-4eb9-92f3-a754849c14a5",
      "name": "Preparar Compra",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1920,
        720
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://wwwwyuwighdehmvnolrl.supabase.co/rest/v1/user_trials",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Ind3d3d5dXdpZ2hkZWhtdm5vbHJsIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2MzM0MjcwOCwiZXhwIjoyMDc4NzAyNzA4fQ.TwCzu93jnFLN-t26xHOQp4cEdCnzRtqtrc0Lzm4mZxs"
            },
            {
              "name": "Authorization",
              "value": "=Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Ind3d3d5dXdpZ2hkZWhtdm5vbHJsIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2MzM0MjcwOCwiZXhwIjoyMDc4NzAyNzA4fQ.TwCzu93jnFLN-t26xHOQp4cEdCnzRtqtrc0Lzm4mZxs"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "842b5990-62e3-47db-8ac1-eacff40f8712",
      "name": "Criar Trial",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2128,
        512
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://wwwwyuwighdehmvnolrl.supabase.co/rest/v1/user_purchases",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Ind3d3d5dXdpZ2hkZWhtdm5vbHJsIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2MzM0MjcwOCwiZXhwIjoyMDc4NzAyNzA4fQ.TwCzu93jnFLN-t26xHOQp4cEdCnzRtqtrc0Lzm4mZxs"
            },
            {
              "name": "Authorization",
              "value": "=Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Ind3d3d5dXdpZ2hkZWhtdm5vbHJsIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2MzM0MjcwOCwiZXhwIjoyMDc4NzAyNzA4fQ.TwCzu93jnFLN-t26xHOQp4cEdCnzRtqtrc0Lzm4mZxs"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "02bc564c-6f9c-4d05-9a3f-2bb218fb1f88",
      "name": "Criar Compra",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2128,
        720
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://wwwwyuwighdehmvnolrl.supabase.co/rest/v1/rpc/update_user_liberado_status",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Ind3d3d5dXdpZ2hkZWhtdm5vbHJsIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2MzM0MjcwOCwiZXhwIjoyMDc4NzAyNzA4fQ.TwCzu93jnFLN-t26xHOQp4cEdCnzRtqtrc0Lzm4mZxs"
            },
            {
              "name": "Authorization",
              "value": "=Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Ind3d3d5dXdpZ2hkZWhtdm5vbHJsIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2MzM0MjcwOCwiZXhwIjoyMDc4NzAyNzA4fQ.TwCzu93jnFLN-t26xHOQp4cEdCnzRtqtrc0Lzm4mZxs"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"p_user_id\": \"{{ $('Mesclar App e Validar').item.json.user_id }}\"}",
        "options": {}
      },
      "id": "5dd1f173-f734-4017-a058-209e56fcf6ff",
      "name": "Atualizar Liberação",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2336,
        624
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://wwwwyuwighdehmvnolrl.supabase.co/rest/v1/profiles?id=eq.{{ $('Mesclar App e Validar').item.json.user_id }}&select=id,email,is_liberado,data_vencimento",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Ind3d3d5dXdpZ2hkZWhtdm5vbHJsIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2MzM0MjcwOCwiZXhwIjoyMDc4NzAyNzA4fQ.TwCzu93jnFLN-t26xHOQp4cEdCnzRtqtrc0Lzm4mZxs"
            },
            {
              "name": "Authorization",
              "value": "=Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Ind3d3d5dXdpZ2hkZWhtdm5vbHJsIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2MzM0MjcwOCwiZXhwIjoyMDc4NzAyNzA4fQ.TwCzu93jnFLN-t26xHOQp4cEdCnzRtqtrc0Lzm4mZxs"
            }
          ]
        },
        "options": {}
      },
      "id": "c46d0bd1-33e5-4368-88a3-5d52ad989262",
      "name": "Verificar Liberação",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2544,
        624
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "sucesso",
              "name": "status",
              "value": "=✅ Liberação criada e validada com sucesso!",
              "type": "string"
            },
            {
              "id": "detalhes",
              "name": "detalhes",
              "value": "={{ JSON.stringify($json) }}",
              "type": "string"
            },
            {
              "id": "liberacao",
              "name": "liberacao",
              "value": "={{ JSON.stringify($('Verificar Liberação').item.json) }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "f05a8d7a-50c7-4f6d-92a8-4c946bc2489d",
      "name": "Sucesso",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        2752,
        624
      ]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Coletar Dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Coletar Dados": {
      "main": [
        [
          {
            "node": "Buscar Usuário",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Usuário": {
      "main": [
        [
          {
            "node": "Mesclar Usuário",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mesclar Usuário": {
      "main": [
        [
          {
            "node": "Buscar App",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar App": {
      "main": [
        [
          {
            "node": "Mesclar App e Validar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mesclar App e Validar": {
      "main": [
        [
          {
            "node": "Verificar Tipo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificar Tipo": {
      "main": [
        [
          {
            "node": "Verificar Trial Existente",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Verificar Compra Existente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificar Trial Existente": {
      "main": [
        [
          {
            "node": "Validar Trial",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificar Compra Existente": {
      "main": [
        [
          {
            "node": "Validar Compra",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar Trial": {
      "main": [
        [
          {
            "node": "Preparar Trial",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar Compra": {
      "main": [
        [
          {
            "node": "Preparar Compra",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Trial": {
      "main": [
        [
          {
            "node": "Criar Trial",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Compra": {
      "main": [
        [
          {
            "node": "Criar Compra",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Criar Trial": {
      "main": [
        [
          {
            "node": "Atualizar Liberação",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Criar Compra": {
      "main": [
        [
          {
            "node": "Atualizar Liberação",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atualizar Liberação": {
      "main": [
        [
          {
            "node": "Verificar Liberação",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificar Liberação": {
      "main": [
        [
          {
            "node": "Sucesso",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-01-11T00:00:00.000Z",
  "versionId": "1"
}
